.container-fluid.mt--7 {
  margin-top: 50px; /* Ajusta este valor según sea necesario */
}

.custom-alert {
  background-color: #ff9800; /* Color de fondo personalizado */
  color: #ffffff; /* Color del texto */
  border-color: #e65100; /* Color del borde */
}
