<div class="header pb-4 pt-1 pt-lg-4 d-flex align-items-center"
  style="min-height: 10px; background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p class="text-white mt-4 mb-0">Órdenes pendientes</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--0">
  <div class="row mt-4">
    <div class="col-xl-4 col-md-6 mb-4" *ngFor="let orden of ordenesPendientes">
      <div class="card">
        <div class="card-img-top-container">
          <img *ngIf="orden.imagen" [src]="getImageUrl(orden.imagen)" class="card-img-top" alt="Imagen de la orden" />
        </div>
        <div class="card-body d-flex flex-column">
          <h6 class="card-subtitle mb-2 text-muted">Estado: {{ orden.estado }}</h6>
          <h6 class="card-subtitle mb-2 text-muted">Menús:</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let menu of orden.menus">
              <div class="menu-image-container">
                <img *ngIf="menu.imagen" [src]="getImageUrl(menu.imagen)" alt="{{ menu.nombre }}" class="menu-img">
              </div>
              <div class="menu-details mt-3">
                <h6>{{ menu.nombre }}</h6>
                <p class="mb-1">
                  Cantidad: <span class="badge badge-danger">{{ menu.cantidad }}</span>
                </p>
                <p class="mb-1 text-muted">Descripción: {{ menu.descripcion }}</p>
              </div>
            </li>
          </ul>
          <button class="btn mt-3" (click)="entregarOrden(orden.id)" style="background-color: #ff4d4d; color: white;">
            Entregar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
