<div class="header pb-4 pt-1 pt-lg-4 d-flex align-items-center"
  style="min-height: 10px; background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p class="text-white mt-4 mb-0">Ordenes pendientes</p>
      </div>
    </div>
  </div>
</div>

<!-- Card de ordenes pendientes -->
<div class="row mt-4">
  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let orden of ordenesPendientes">
    <div class="card">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Estado: {{ orden.estado }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Menús:</h6>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let menu of orden.menus">
            {{ menu.nombre }} <span class="badge badge-secondary">{{ menu.cantidad }}</span>
          </li>
        </ul>
        <button class="btn btn-primary mt-3" (click)="entregarOrden(orden.id)">Entregar</button>
      </div>
    </div>
  </div>
</div>
<!-- Fin del card de ordenes pendientes -->
