/* Estilo para el snackbar de éxito */
.success-snackbar {
  background-color: #393a39; /* Verde suave */
  color: #ffffff; /* Texto blanco */
}

/* Estilo para el snackbar de error */
.error-snackbar {
  background-color: #e3342f; /* Rojo para error */
  color: #ffffff; /* Texto blanco */
}
.card {
  background-color: #ffffff;
  border-radius: 1rem; /* Sin borde de color */
  margin-top: 20px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Solo sombra, sin borde */

  .card-img-top-container {
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 0.75rem;
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card-title {
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .card-subtitle {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    .list-group-item {
      padding: 0.75rem 0;

      .menu-image-container {
        text-align: center;

        img.menu-img {
          width: 100%;
          height: auto;
          border-radius: 0.25rem;
        }
      }

      .menu-details {
        margin-top: 0.5rem;

        h6 {
          font-size: 1rem;
          margin-bottom: 0.25rem;
        }

        p {
          font-size: 0.9rem;
          margin-bottom: 0.25rem;

          .badge {
            font-size: 0.9rem; /* Tamaño del número de cantidad */
            padding: 0.3rem 0.6rem; /* Ajusta el padding */
            background-color: #ff4d4d; /* Color de fondo para que coincida con el botón */
            color: #fff; /* Color de texto */
            border-radius: 0.5rem; /* Redondea los bordes */
          }
        }
      }
    }

    .btn {
      background-color: #ff4d4d;
      color: white;
      font-weight: bold;

      &:hover {
        background-color: #ff1a1a;
      }
    }
  }
}
