<!-- Encabezado -->
<div class="header pb-4 pt-1 pt-lg-4 d-flex align-items-center" style="min-height: 10px; background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Contenedor del encabezado -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p class="text-white mt-4 mb-0">Por favor, ingresa la información del nuevo menú</p>
      </div>
    </div>
  </div>
</div>

<!-- Botón para crear un nuevo menú -->
<button class="btn btn-success mt-3 mb-3" *ngIf="botonCrearNuevoMenu"
  (click)="formularioMenu = true; botonCrearNuevoMenu = false; tablaMenus = false">Crear nuevo menú
</button>

<!-- Formulario de Menús -->
<div class="container-fluid mt-2" *ngIf="formularioMenu">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card shadow">
        <div class="card-body">
          <!-- Mensaje de éxito al crear menú -->
          <div class="alert alert-success" *ngIf="menuCreado && !menuActualizado">
            Menú creado con éxito!
          </div>
          <!-- Mensaje de éxito al actualizar menú -->
          <div class="alert alert-success" *ngIf="menuActualizado && !menuCreado">
            Menú actualizado con éxito!
          </div>
          <form (ngSubmit)="registroMenus()">
            <div class="form-group">
              <label for="categoria">Categoría</label>
              <select id="categoria" class="form-control" [(ngModel)]="categoria_id" name="categoria_id" required>
                <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" id="nombre" class="form-control" placeholder="Nombre" [(ngModel)]="nombre" name="nombre" required />
            </div>
            <div class="form-group">
              <label for="descripcion">Descripción</label>
              <input type="text" id="descripcion" class="form-control" placeholder="Descripción" [(ngModel)]="descripcion" name="descripcion" required />
            </div>
            <div class="form-group">
              <label for="precio">Precio</label>
              <input type="number" id="precio" class="form-control" placeholder="Precio" [(ngModel)]="precio" name="precio" required />
            </div>
            <div class="form-group">
              <label for="estado">Estado</label>
              <select id="estado" class="form-control" [(ngModel)]="estado" name="estado" required>
                <option value="ACTIVO">Activo</option>
                <option value="INACTIVO">Inactivo</option>
              </select>
            </div>
            <div class="form-group">
              <label for="imagen" class="form-label">Imagen</label>
              <input type="file" id="imagen" (change)="onFileChange($event)" class="form-control-file" />
            </div>
            <button type="submit" class="btn btn-primary">{{ idMenuEditar !== null ? 'Actualizar Menú' : 'Crear Menú' }}</button>
            <button type="button" class="btn btn-secondary" (click)="cancelarEdicion()">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Tabla de Menús -->
<div class="container-fluid mt-5" *ngIf="tablaMenus">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <h2>Lista de menús</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Categoría</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Precio</th>
              <th>Estado</th>
              <th>Imagen</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let menu of menus; let i = index">
              <td>{{ menu.id }}</td>
              <td>{{ obtenerNombreCategoria(menu.categoria_id) }}</td>
              <td>{{ menu.nombre }}</td>
              <td>{{ menu.descripcion }}</td>
              <td>{{ menu.precio | currency:'Q ' }}</td>
              <td>{{ menu.estado }}</td>
              <td>
                <img *ngIf="menu.imagen" [src]="obtenerUrlImagen(menu.imagen)" alt="{{ menu.nombre }}" style="width: 100px; height: auto;" />
                <span *ngIf="!menu.imagen">Sin imagen</span>
              </td>
              <td>
                <button class="btn btn-primary btn-sm" (click)="editarMenu(menu)">Editar</button>
                <button class="btn btn-danger btn-sm" (click)="eliminarMenu(menu.id)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
