@import url('https://fonts.googleapis.com/css2?family=Mukta:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.btn.btn-warning.mt-3.mb-3 {
  background-color: #9b60d3 !important; // Color de fondo
  color: #000000 !important; // Color del texto
  font-family: 'Mukta', sans-serif;

  // Cambiar el color del fondo y el texto al pasar el ratón (hover)
  &:hover {
    background-color: #ff9900 !important;
    color: #fff !important;
  }

  // Cambiar el color del borde si lo deseas
  border-color: #ffffff !important;

  // Cambiar los estilos cuando el botón está enfocado
  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(114, 86, 35, 0.5);
  }
}





