.row {
  margin-top: 1rem;

  small {
    font-size: 1.2rem; // Aumenta el tamaño de la fuente del texto <small>
    color: #ffffff; // Cambia el color del texto <small> (puedes elegir el color que prefieras)
  }

  a {
    font-size: 1.2rem; // Aumenta el tamaño de la fuente del enlace <a>
    margin-left: 0.5rem; // Opcional: agrega un pequeño margen entre el <small> y el <a>
    color: #007bff; // Cambia el color del enlace <a> (puedes elegir el color que prefieras)
    text-decoration: none; // Opcional: elimina el subrayado del enlace
  }

  a:hover {
    color: #0056b3; // Cambia el color del enlace <a> al pasar el cursor sobre él (hover effect)
  }
}
