// Importaciones de Angular Material deben estar al inicio
@use '@angular/material' as mat;

// Importa el tema de Angular Material que elijas
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; // Cambia 'indigo-pink' si es necesario

// Luego puedes incluir otros estilos globales
body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

// Estilos adicionales
.header {
  background: linear-gradient(45deg, #3f51b5, #e91e63);
}

mat-card {
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

mat-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

mat-card-header h2 {
  font-size: 1.5rem;
}

.text-dark {
  color: #333;
}
